torch
torchvision

fastapi
uvicorn
python-dotenv
pydantic
python-multipart

minio
langchain-openai
langchain-text-splitters
langgraph
grandalf
openai-agents
pymongo
neo4j
sentence-transformers
FlagEmbedding
pymilvus[milvus_lite]
pymilvus[model]
mineru[all]
